.register-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

@media only screen and (max-width: 600px) {
    .register-container {
        /* display: inline-block; */
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        z-index: 1;
        max-width: 1100px;
        height: 700px;
        margin: 0 auto;
        /* background: #f4f4f3; */
        background-image: url('../../../images/custom-images/register-font.jfif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: none;
        text-align: center;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        padding: 10px 20px;
        overflow: hidden;
    }


}

.register-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.register-popup.is-visible .register-popup-container {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /* padding-top: 120px; */
}

.register-popup .register-popup-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 1100px;
    height: 700px;
    margin: 0 auto;
    background: #f4f4f3;
    background-image: url('../../../images/custom-images/register-font.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: none;
    text-align: center;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 50px 130px;
    overflow: hidden;
}

.register-popup-container input {
    margin: auto;
    margin-bottom: 3%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
}

.register-popup-container textarea {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.register-popup .register-popup-container .register-popup-button {
    /* padding: 25px 25px; */
    padding-right: 20%;
    border: 2px solid #222222;
    display: inline-block;
    margin-bottom: 10px;
    /* float: left; */
}

.register-popup .register-popup-container a {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
}

.register-popup .register-popup-container .register-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.register-popup .register-popup-container .register-popup-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.register-popup .register-popup-container .register-popup-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 6px;
    top: 13px;
}

.register-popup .register-popup-container .register-popup-close::before,
.register-popup .register-popup-container .register-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 16px;
    height: 3px;
    background-color: white;
}

.register-popup .register-popup-container h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.register-popup .register-popup-container h3 p {
    margin-bottom: 25px;
    font-size: 13px;
}

.register-popup .register-popup-container ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 20px;
}

.register-popup .register-popup-container ul li {
    display: inline-block;
    margin-right: 5px;
}

.register-popup .register-popup-container ul li a {
    width: 33px;
    height: 33px;
    background-color: #222222;
    color: #ffffff;
    line-height: 35px;
    border-radius: 50%;
}

.register-popup .register-popup-container ul li a.facebook {
    background-color: #3b5998;
    color: #ffffff;
}

.register-popup .register-popup-container ul li a.twitter {
    background-color: #1da1f2;
    color: #ffffff;
}

.register-popup .register-popup-container ul li a.linkedin {
    background-color: #0077b5;
    color: #ffffff;
}

.register-popup .register-popup-container ul li a.instagram {
    background-color: #e1306c;
    color: #ffffff;
}

.register-popup .register-popup-container .img-box img:nth-child(1) {
    position: absolute;
    left: -45px;
    bottom: 0;
    z-index: -1;
    width: 185px;
}

.register-popup .register-popup-container .img-box img:nth-child(2) {
    position: absolute;
    right: -45px;
    bottom: 0;
    z-index: -1;
    width: 185px;
}

.register-popup .register-popup-container form {
    position: relative;
}

.register-popup .register-popup-container form button {
    position: absolute;
    border: none;
    margin: 12px;
    height: 45px;
    background-color: #222222;
    color: #ffffff;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0 20px;
}

.register-popup .register-popup-container form button:focus {
    /* background-color: rgba(0, 0, 0, 0.7); */
}

.register-popup .register-popup-container form button:hover,
.register-popup .register-popup-container form button:focus {
    background-color: #FE5000;
}

.register-popup .register-popup-container form .validation-danger {
    color: red;
    margin-top: 10px;
}

.register-popup .register-popup-container form .validation-success {
    margin-top: 10px;
}

