.contact-whatsapp{
    padding-top: 5%;
    padding-bottom: 4%;
    background-image: url(../../../../images/about-us/h2-parallax-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    /* text-align: center; */
   
}

.row-whatsapp{
    padding-top: 2%;
    padding: 1%;
    font-size: large;
}

